<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Practica 11
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div id="container">
      <ion-toolbar>
        <ion-title size="large">Lista de Alumnos</ion-title>
      </ion-toolbar>
      <app-lista-alumnos></app-lista-alumnos>
     <!-- <app-productos></app-productos>-->
    </div>
  </ion-content>

  
  
  
<!---  <ion-router-outlet></ion-router-outlet>-->
</ion-app>
