<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Practica 12
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <!--<div id="container">-->
      <ion-toolbar>
        <ion-title size="large">Camara</ion-title>
      </ion-toolbar>
      <app-camara></app-camara>
      <!--<app-lista-alumnos></app-lista-alumnos>
     <app-productos></app-productos>-->
   <!-- </div> -->
  </ion-content>

  
  
  
<!---  <ion-router-outlet></ion-router-outlet>-->
</ion-app>
