body {
    margin: 0;
    padding: 0;
    font-family: monserrat;
    background-color: aquamarine;
    height: 100vh;
}

.campos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.campos h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.campos form{
    padding: 0 30px;
    box-sizing: border-box;
}

form input{
    margin-bottom: 10px;
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    background: aliceblue;

}

form button{
    margin-bottom: 10px;
    margin-right: 5px;
    width: 30%;
    padding: 0 10px;
    height: 40px;
    font-size: 16px;
    background: lemonchiffon;
    outline: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}