<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Practica 7
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Practica 7</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Lista de Alumnos
        </ion-title>
      </ion-toolbar>
    </ion-header>
    
      <ion-list>
        <ion-item *ngFor="let alumno of alumnos">
          {{ alumno }}
        </ion-item>
      </ion-list>

      <h1>Lista de Alumnos</h1>
      <app-lista-alumnos></app-lista-alumnos>
    
  </div>
</ion-content>
